---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      Welcome to my personal site. This site acts as a place for my work and
      some random stuff. Mainly coding. I upload to <a
        href="https://github.com/mdmrk">GitHub</a
      >.
    </main>
    <Footer />
  </body>
</html>
