---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Main from '../layouts/Main.astro'
---

<Main title="welcome">
  this site acts as a place for my work and some random stuff. Mainly coding.
  <br />
  <br />
  <a href="https://github.com/mdmrk">GitHub</a>
</Main>
