---
import { SITE_TITLE } from "../consts"
---

<header>
  <nav class="flex flex-col gap-1.5">
    <a class="w-min" href="/">{SITE_TITLE}</a>
    <div class="w-full h-min bg-accent min-h-5 text-fill">{}</div>
    <div class="flex flex-row gap-2">
      <a href="/blog">/blog</a><a href="/about">/about</a>
    </div>
  </nav>
</header>
