---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <a href="/">{SITE_TITLE}</a>
    <div class="separator">{}</div>
    <div class="internal-links">
      <a href="/blog">/blog</a>
      <a href="/about">/about</a>
    </div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: left;
    justify-content: space-between;
  }
  .separator {
    background: white;
    height: 1.75em;
  }
  .internal-links {
    display: flex;
    gap: 0.3em;
  }
</style>
